@model IEnumerable<UShop.Entities.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@if (Model != null)
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <td>Name</td>
                <td>Discount Rate</td>

            </tr>
        </thead>
        @foreach (var customer in Model)
        {
            <tr>
                <td><a href="@Url.Action("Details", new { Id = customer.Id })">@customer.Name</a></td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </table>
}
else
{
    <p>No Customers found.</p>
}





